Applications/1. Buy movie tickets/Debug
Applications/2. Grocery Store/Debug
Applications/4. Book Of Address/Debug
Applications/5. First Bad Version/Debug
Applications/Debug
Applications/x64
Applications/.vs